.container{
    width: 80%;
    text-align: center;
    margin: 5% 10%;
}

textarea{
    width:100%;
    display: block;
    height: 20vh;
    margin: .25rem 0;
    padding: 1rem 0;
}

#btn-translate{
    width: 100%;
    margin: .25rem 0;
    padding: 0.5rem 0;
}

#txt-errormsg{
    /* float: right; */
    color: red;
    width: 100%;
}

#txt-output{
    width: 100%;
    height: 20vh;
    display: block;
    background-color: brown;
    margin: .25rem 0;
    padding: 0.5rem 0;
    color: white;
}